{{define "layout"}}
    <!doctype html>
<html lang="fr">
	<head>
		<meta name="theme-color" content="#ffffff">
		<meta charset="utf-8">
		<link rel="stylesheet" href="/static/style.css">
  		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body style="margin:0;padding:0">
		<nav class="navbar navbar-expand-sm bg-dark navbar-dark" style="padding:2%;">
		</nav>
		<div id="root" class="">
		{{template "body" .}}
		</div>
		<footer>
			<p>alola</p>
		</footer>
	</body>
</html>
{{end}}
